{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-plus"></i> Agregar Ventas
</button>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-receipt"></i> Listado Ventas
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_ventas" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>CLIENTE</th>
                                <th>NUMERO-MESA</th>
                                <th>NOMBRE-MENU</th>
                                <th>PRCIO-MENU</th>
                                <th>CANTIDAD-PL</th>
                                <th>FECHA-VENTA</th>
                                <th>TOTAL-VENTA</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for venta in ventas %}
                            <tr>
                                <td>{{ venta.venta_id }}</td>
                                <td>{{ venta.cliente.nombre_cli }} {{ venta.cliente.apellido_cli }}</td>
                                <td>{{ venta.mesa.numero_mes }}</td>
                                <td>{{ venta.menu.nombre_menu }}</td>
                                <td>{{ venta.menu.precio_menu }}</td>
                                <td>{{ venta.cantidad }}</td>
                                <td>{{ venta.fecha_venta }}</td>
                                <td>{{ venta.total_venta }}</td>


                                <td>
                                    <a href="/editarVentas/{{venta.venta_id}}" class="btn btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="javascript:void(0)" onclick="eliminarVentas('{{venta.venta_id}}');" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar Ventas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/guardarVentas/" method="post" enctype="multipart/form-data" id="frm_nuevo_ventas">
                        {% csrf_token %}
                        <div class="row">
                            <!-- CLIENTE -->
                            <div class="form-group col-md-6">
                                <label for="reserva_id_reserva">
                                    <b><i class="fas fa-user"></i> CLIENTE:</b>
                                </label>
                                <select class="form-control selectpicker" data-live-search="true" name="cliente_id_cliente" id="cliente_id_cliente" required>
                                    <option value="">Seleccione el Cliente</option>
                                    {% for cliente in clientes %}
                                    <option value="{{ cliente.cliente_id }}">{{ cliente.nombre_cli }} {{ cliente.apellido_cli }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- MESA -->
                            <div class="form-group col-md-6">
              				        <label for="id_mesa_mesa">
              				          <b><i class="fas fa-chair"></i> MESA</b>
              				        </label>
              				        <select class="form-control selectpicker" data-live-search="true" data-live-search-style="startsWith" name="id_mesa_mesa" id="id_mesa_mesa" required data-live-search-placeholder="Buscar mesa...">
              				          <option value="">Seleccione la Mesa</option>
              				          {% for mesa in mesas %}
              				          <option value="{{ mesa.id_mesa }}">{{ mesa.numero_mes }}</option>
              				          {% endfor %}
              				        </select>
              				      </div>
                        </div>
                        <div class="row">
                            <!-- NOMBRE MENÚ -->
                            <div class="form-group col-md-6">
                                <label for="menu_id_menu">
                                    <b><i class="fas fa-utensils"></i> NOMBRE MENÚ:</b>
                                </label>
                                <select class="form-control selectpicker" data-live-search="true" name="menu_id_menu" id="menu_id_menu" required onchange="calcularTotal()">
                                    <option value="">Seleccione el nombre Menu</option>
                                    {% for menus in menu %}
                                    <option value="{{ menus.menu_id }}" data-precio="{{ menus.precio_menu }}">{{ menus.nombre_menu }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- PRECIO MENÚ -->
                            <div class="form-group col-md-6">
                                <label for="precio_menu">
                                    <b><i class="fas fa-dollar-sign"></i> PRECIO MENÚ:</b>
                                </label>
                                <input type="text" id="precio_menu" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <!-- NUMERO PERSONAS -->
                            <div class="form-group col-md-6">
              				        <label for="cantidad"><i class="fas fa-id-card"></i> <b>CANTIDAD DE PLATOS:</b></label>
              				        <input type="number" name="cantidad" id="cantidad" oninput="soloNumeros(this)" placeholder="Ingrese el número" class="form-control" required>
              				      </div>
                            <!-- FECHA VENTA -->
                            <div class="form-group col-md-6">
                                <label for="fecha_venta">
                                    <b><i class="fas fa-calendar-alt"></i> FECHA VENTA:</b>
                                </label>
                                <input type="date" name="fecha_venta" id="fecha_venta" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <!-- TOTAL VENTA -->
                            <div class="form-group col-md-12">
                                <label for="total_venta">
                                    <b><i class="fas fa-dollar-sign"></i> TOTAL VENTA:</b>
                                </label>
                                <input type="number" name="total_venta" id="total_venta" class="form-control" placeholder="Total automático" readonly>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="frm_nuevo_ventas" class="btn btn-secondary">Guardar</button>
                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
<script>
  function calcularTotal() {
      // Obtener el precio del menú seleccionado
      var selectMenu = document.getElementById('menu_id_menu');
      var precioMenu = parseFloat(selectMenu.options[selectMenu.selectedIndex].getAttribute('data-precio')) || 0;
      document.getElementById('precio_menu').value = precioMenu.toFixed(2);

      // Obtener la cantidad de platos
      var cantidadPlatos = parseInt(document.getElementById('cantidad').value) || 0;

      // Calcular el total
      var totalVenta = precioMenu * cantidadPlatos;

      // Mostrar el total en el campo correspondiente
      document.getElementById('total_venta').value = totalVenta.toFixed(2);
  }

  // Asegurarse de que el total se recalcula cada vez que se cambia la cantidad
  document.getElementById('cantidad').addEventListener('input', calcularTotal);
  document.getElementById('menu_id_menu').addEventListener('change', calcularTotal);
</script>
</div>

<script>
    function eliminarVentas(venta_id) {
        swal({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            buttons: {
                cancel: {
                    visible: true,
                    text: 'No, cancelar',
                    className: 'btn btn-secondary'
                },
                confirm: {
                    text: 'Sí, eliminarlo',
                    className: 'btn btn-danger'
                }
            }
        }).then((willDelete) => {
            if (willDelete) {
                window.location.href = '/eliminarVentas/' + venta_id;
            } else {
                swal("¡La Venta está segura!", {
                    icon: "info",
                    buttons: {
                        confirm: {
                            className: 'btn btn-success'
                        }
                    }
                });
            }
        });
    }
    $(document).ready(function() {
    $("#frm_nuevo_ventas").validate({
        rules: {
            "fecha_venta": {
                required: true,
                dateISO: true
            },
            "total_venta": {
                required: true,
                number: true,
                min: 0.01,
                max: 1000000
            },
            "cliente_id_cliente": {  // Corrected from "reserva_id_reserva"
                required: true
            },
            "menu_id_menu": {
                required: true
            },
            "id_mesa_mesa": {  // Corrected from "mesa_id_reserva"
                required: true
            },
            "cantidad": {  // Corrected from "numero_personas"
                required: true,
                number: true, // Add this rule if the quantity should be numeric
                min: 1 // Ensure the quantity is at least 1
            }
        },
        messages: {
            "fecha_venta": {
                required: "Debe ingresar la fecha de la venta",
                dateISO: "Por favor, ingrese una fecha válida (ISO)"
            },
            "total_venta": {
                required: "Debe ingresar el total de la venta",
                number: "Ingrese un número válido para el total",
                min: "El total no puede ser menor que 0.01",
                max: "El total no puede ser mayor que 1,000,000"
            },
            "cliente_id_cliente": {  // Corrected from "reserva_id_reserva"
                required: "Debe seleccionar un cliente"
            },
            "menu_id_menu": {
                required: "Debe seleccionar un menú"
            },
            "id_mesa_mesa": {  // Corrected from "mesa_id_reserva"
                required: "Debe seleccionar una mesa"
            },
            "cantidad": {  // Corrected from "numero_personas"
                required: "Debe ingresar la cantidad de platos",
                number: "Ingrese un número válido",
                min: "La cantidad debe ser al menos 1"
            }
        }
    });
});
    function soloNumeros(input) {
        // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
        input.value = input.value.replace(/\D/g, '');
    }

    function soloLetras(input) {
        // Reemplaza cualquier carácter que no sea una letra o espacio con una cadena vacía
        input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
    }
</script>

<script type="text/javascript">
        $(document).ready(function () {
            $('#tbl_ventas').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
                },
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: 'PDF',
                        className: 'btn btn-secondary',
                        messageTop: 'PDF creado por PDFMake con botones para DataTables.'
                    },
                    {
                        extend: 'print',
                        text: 'Imprimir',
                        className: 'btn btn-secondary'
                    },
                    {
                        extend: 'csvHtml5',
                        text: 'CSV',
                        className: 'btn btn-secondary'
                    }
                ],
                responsive: true
            });
        });
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtén la fecha actual
        var today = new Date().toISOString().split('T')[0];
        // Establece la fecha mínima en el campo de fecha
        document.getElementById('fecha_venta').setAttribute('min', today);
    });
</script>



{% endblock %}
