{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Registro Casita Sabor</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="{% static 'assets/img/logo.ico' %}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script src="{% static 'assets/js/plugin/webfont/webfont.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/azzara.min.css' %}">
    <script src="{% static 'library/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery.validate/jquery.validate.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body class="login" style="background-image: url('{% static 'assets/img/hero-bg.jpg' %}'); background-size: cover; background-position: center;">

    <div class="wrapper wrapper-login">
        <div class="container container-login animated fadeIn">
            <a href="{% url 'login' %}" class="btn btn-link back-button">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
            <h3 class="text-center">Crear una cuenta</h3>
            <div class="login-form">
                <form method="post" action="" id="frm_nuevo_cliente">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="{{ form.first_name.id_for_label }}">Nombre:</label>
                            {{ form.first_name }}
                            <script>
                                document.getElementById('{{ form.first_name.id_for_label }}').oninput = function() { convertirMayusculas(this); };
                            </script>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.last_name.id_for_label }}">Apellido:</label>
                            {{ form.last_name }}
                            <script>
                                document.getElementById('{{ form.last_name.id_for_label }}').oninput = function() { convertirMayusculas(this); };
                            </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="placeholder"><b>Crea un Usuario.</b></label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="alert alert-danger mt-2">
                                <i class="fas fa-exclamation-triangle"></i> {{ form.username.errors.0 }}
                            </div>
                        {% else %}
                            {% if form.username.value %}
                                <div class="alert alert-success mt-2">
                                    <i class="fas fa-check-circle"></i> {{ form.username.value }} está disponible.
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="email" class="placeholder"><b>Correo Electrónico</b></label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="alert alert-danger mt-2">
                                <i class="fas fa-exclamation-triangle"></i> {{ form.email.errors.0 }}
                            </div>
                        {% else %}
                            {% if form.email.value %}
                                <div class="alert alert-success mt-2">
                                    <i class="fas fa-check-circle"></i> {{ form.email.value }} está disponible.
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                          <label for="{{ form.password1.id_for_label }}">Contraseña:</label>
                          <div class="position-relative">
                              {{ form.password1 }}
                              <div class="show-password" onclick="togglePasswordVisibility('id_password1')">
                                  <i class="flaticon-interface"></i>
                              </div>
                          </div>
                          <div id="password-feedback" class="password-requirements">
                              <div class="requirement" id="length" class="invalid">
                                  <i class="fas fa-times"></i> <span>Al menos 12 caracteres</span>
                              </div>
                              <div class="requirement" id="uppercase" class="invalid">
                                  <i class="fas fa-times"></i> <span>Una letra mayúscula</span>
                              </div>
                              <div class="requirement" id="lowercase" class="invalid">
                                  <i class="fas fa-times"></i> <span>Una letra minúscula</span>
                              </div>
                              <div class="requirement" id="number" class="invalid">
                                  <i class="fas fa-times"></i> <span>Al menos 3 números</span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="form-group col-md-12">
                          <label for="{{ form.password2.id_for_label }}">Confirmar Contraseña:</label>
                          <div class="position-relative">
                              {{ form.password2 }}
                              <div class="show-password" onclick="togglePasswordVisibility('id_password2')">
                                  <i class="flaticon-interface"></i>
                              </div>
                          </div>
                      </div>
                  </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="submit" value="Registrar" class="btn btn-primary btn-block">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="reset" value="Cancelar" class="btn btn-danger btn-block">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            // Validación del formulario usando jQuery Validate plugin
            $("#frm_nuevo_cliente").validate({
                rules: {
                    "username": {
                        required: true,
                        minlength: 4
                    },
                    "first_name": {
                        required: true
                    },
                    "last_name": {
                        required: true
                    },
                    "email": {
                        required: true,
                        email: true
                    },
                    "password1": {
                        required: true,
                        minlength: 6
                    },
                    "password2": {
                        required: true,
                        equalTo: "#id_password1"
                    }
                },
                messages: {
                    "username": {
                        required: "Por favor, ingrese el usuario",
                        minlength: "El nombre de usuario debe tener al menos 4 caracteres"
                    },
                    "first_name": {
                        required: "Por favor, ingrese su nombre"
                    },
                    "last_name": {
                        required: "Por favor, ingrese su apellido"
                    },
                    "email": {
                        required: "Ingrese un correo electrónico",
                        email: "Ingrese un correo electrónico válido"
                    },
                    "password1": {
                        required: "Por favor, ingrese una contraseña",
                        minlength: "La contraseña debe tener al menos 6 caracteres"
                    },
                    "password2": {
                        required: "Por favor, confirme la contraseña",
                        equalTo: "Las contraseñas no coinciden"
                    }
                },
                errorPlacement: function(error, element) {
                    error.insertAfter(element); // Coloca los mensajes de error después de cada campo
                },
                submitHandler: function (form) {
                    form.submit(); // Envía el formulario si todas las validaciones son correctas
                }
            });

            // Función para permitir solo letras en un campo
            $("input[name='first_name'], input[name='last_name']").on('input', function() {
                this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
            });

            // Función para validar formato de correo electrónico
            $("input[name='email']").on('input', function(event) {
                const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!regex.test(event.target.value)) {
                    event.target.setCustomValidity('Ingrese un correo válido.');
                } else {
                    event.target.setCustomValidity('');
                }
            });
        });

        function convertirMayusculas(input) {
            input.value = input.value.toUpperCase();
        }
    </script>
    <script>
        WebFont.load({
            google: {"families":["Open+Sans:300,400,600,700"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ["{% static 'assets/css/fonts.css' %}"]},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <script>
    const passwordInput = document.querySelector('#id_password1');
    const lengthRequirement = document.querySelector('#length');
    const uppercaseRequirement = document.querySelector('#uppercase');
    const lowercaseRequirement = document.querySelector('#lowercase');
    const numberRequirement = document.querySelector('#number');

    function validatePassword() {
     const password = passwordInput.value;

     // Check length
     const lengthCheck = password.length >= 12;
     lengthRequirement.classList.toggle('valid', lengthCheck);
     lengthRequirement.classList.toggle('invalid', !lengthCheck);
     lengthRequirement.querySelector('i').className = lengthCheck ? 'fas fa-check' : 'fas fa-times';

     // Check uppercase
     const uppercaseCheck = /[A-Z]/.test(password);
     uppercaseRequirement.classList.toggle('valid', uppercaseCheck);
     uppercaseRequirement.classList.toggle('invalid', !uppercaseCheck);
     uppercaseRequirement.querySelector('i').className = uppercaseCheck ? 'fas fa-check' : 'fas fa-times';

     // Check lowercase
     const lowercaseCheck = /[a-z]/.test(password);
     lowercaseRequirement.classList.toggle('valid', lowercaseCheck);
     lowercaseRequirement.classList.toggle('invalid', !lowercaseCheck);
     lowercaseRequirement.querySelector('i').className = lowercaseCheck ? 'fas fa-check' : 'fas fa-times';

     // Check number (at least 3)
     const numberCount = (password.match(/[0-9]/g) || []).length;
     const numberCheck = numberCount >= 3;
     numberRequirement.classList.toggle('valid', numberCheck);
     numberRequirement.classList.toggle('invalid', !numberCheck);
     numberRequirement.querySelector('i').className = numberCheck ? 'fas fa-check' : 'fas fa-times';
    }

    passwordInput.addEventListener('input', validatePassword);
   </script>
       <style>
       .password-requirements {
           font-size: 0.8em; /* Reduce el tamaño del texto */
           color: #666;
           margin-top: 10px;
        }

        .requirement {
           display: flex;
           align-items: center;
           margin-bottom: 5px;
        }

        .requirement i {
           margin-right: 10px;
           font-size: 1.2em; /* Ajusta el tamaño del icono si es necesario */
        }

        .requirement span {
           margin-left: 5px;
           font-size: 0.8em; /* Ajusta el tamaño del texto del requisito */
        }

        .valid i {
           color: green;
        }

        .invalid i {
           color: red;
        }

    </style>
    <script src="{% static 'assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/ready.js' %}"></script>

</body>
</html>
